.about__title{
  text-align: center;
  font-size: 40px;
}
.about__text{
    text-align: center;
    font-size: 30px;
}
.about__list{
    list-style: none;
    display: flex;
    padding-top: 50px;
    width: 95%;
    padding-bottom: 60px;
}
.about__item{
    width: 30%;
}
.about__span{
    width: 30%;
    display: flex;
    text-align: center;
    align-items: center;
}
.about__title_name{
    font-size: 25px;
}
.about__text_name{
    font-size: 20px;
   
}
.about__text{
    width: 70%;
}